* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Press Start 2P", sans-serif;
  font-size: 1.6rem;
  background: #0a0a0a;
  color: #e5e5e5;

  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  width: 80%;
  margin: auto;
  padding-bottom: 2rem;

  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 1.15;
  margin: 3rem 0;
}

h2 {
  color: #39ff14;
  text-shadow: 0 0 8px #39ff14;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.2;
  text-align: center;
  margin: 3rem 0;
}

.btn {
  border: none;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 1.5rem 3rem;
  border-radius: 1rem;

  background-color: #39ff14;
  color: #000;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: #1ed760;
  transform: scale(1.05);
}

header,
footer {
  background-color: #111;
  color: #39ff14;
  border-bottom: 2px solid #39ff14;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.div-logo {
  margin-left: 2rem;
  font-weight: bold;
}

.logo,
.header-nav ul li a {
  text-decoration: none;
  font-size: 3rem;
  color: inherit;
  display: inline-block;
  padding: 2rem;
}

.header-nav {
  margin-right: 2rem;
}

.header-nav ul,
footer .footer-list {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.footer-list li {
  padding: 1rem;
}

.footer-list img {
  width: 5rem;
  padding: 0.5rem;
}

/*COLOES*/

.bg-primary {
  background-color: #333;
}

.bg-secondary {
  background-color: #fff;
}

.text-light {
  color: #333;
}

.text-dark {
  color: #e5e5e5;
}

.text-secondary {
  color: #39ff14;
}

/*HOME*/

.parrafo {
  width: 80%;
  text-align: center;
  font-size: 2rem;
  padding: 3rem;
}

.contenedor-tarjetas {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: #161616;
  border: 2px solid #39ff14;
  box-shadow: 0 0 10px rgba(57, 255, 20, 0.4);
  width: 30rem;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-bottom: 2rem;
}

.card img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

/*CONTACTO*/
.titulo-contacto {
  margin-top: 2rem 0;
}

.form-contacto {
  background-color: #8a79a8;
  color: #2a1e35;
  width: 100%;
  max-width: 50rem;
  font-size: 2rem;
  padding: 3rem;
  border-radius: 1rem;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.grupo-input {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}

.grupo-input input,
.grupo-input textarea {
  border: none;
  background-color: transparent;
  border-bottom: solid 2px #2a1e35;
  margin-bottom: 3rem;
}

.grupo-input textarea {
  resize: none;
  min-height: 10rem;
}

/*MEDIA QUERIES*/
@media (max-width: 600px) {
  header,
  footer {
    flex-direction: column;
  }

  .header-nav,
  .div-logo {
    margin: 0;
  }
}
